/* You can add global styles to this file, and also import other style files */
@import '~materialize-css/sass/materialize.scss';
@import './assets/scss/variables';

body {
  color: black;
  background-color: #ffffff;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar  {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background: $bleuConseil;
  }
}
html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-block {
  display: block !important;
}

h1 {
  font-size: 2.6rem;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}