<div class="container">
  <div class="row d-flex row-title">
    <h1>Utilisateur</h1>
  </div>
  <div class="row">
    <a (click)="openDialog(null, null)" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Ajouter</a>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let projet"> {{projet.firstname}} </td>
    </ng-container>
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> nom de famille</th>
      <td mat-cell *matCellDef="let projet"> {{projet.lastname}} </td>
    </ng-container>
    <ng-container matColumnDef="siren">
      <th mat-header-cell *matHeaderCellDef> siren</th>
      <td mat-cell *matCellDef="let projet"> {{projet.siren}} </td>
    </ng-container>
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> email</th>
      <td mat-cell *matCellDef="let projet">
        <p *ngIf="projet.dev !== null">{{projet.email}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="deactivate">
      <th mat-header-cell *matHeaderCellDef>  <p *ngIf="isValidated">desactiver/desactiver</p>
        <p *ngIf="!isValidated">activer</p></th>
      <td mat-cell *matCellDef="let projet">
        <button *ngIf="isValidated">desactiver</button>
        <button *ngIf="!isValidated">activer</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index" (dblclick)="openDialog({name: row.name, clientName: row.client, dueDate: row.dueDate, dev: row.dev},i)"></tr>
  </table>
</div>
