<div class="calendar-container">
  <div class="calendar">
    <div class="calendar-controls">
      <button class="month-prev" (click)="changeNavMonth(-1)" [disabled] = "!canChangeNavMonth(-1)">
        <i class="material-icons">chevron_left</i>
      </button>
      <h2>{{ navDate.format('MMMM YYYY') }}</h2>
      <button class="month-next" (click)="changeNavMonth(1)" [disabled] = "!canChangeNavMonth(1)">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>
    <div class="calendar-body-container">
      <div class="calendar-header">
        <div class="calendar-date" *ngFor="let day of weekDaysHeaderArr">{{ day }}</div>
      </div>
      <div class="calendar-body">
        <div *ngFor="let day of gridArr" [ngClass]="{'is-disabled': !day.available}" class="calendar-date">
          <button *ngIf="day.value !== 0" class="date-item">{{ day.value }}</button>
          <button *ngIf="day.value === 0" class="date-item"></button>
        </div>
      </div>
    </div>
  </div>
</div>