@import '~src/assets/scss/variables';

.calendar-container {
  display: flex;
  padding: 0;

  .calendar {
    .calendar-controls {
      width: 554px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      background: $rougeApp;

      h2 {
        font-size: 2rem;
        margin: 0;
      }
      .month-prev,
      .month-next {
        margin-top: 4px;
        cursor: pointer;
        background-color: transparent;
        border: none;
      }
    }

    .calendar-body-container {
      width: 554px;
      margin: 0 auto;

      .calendar-header,
      .calendar-body {
        display: flex;
        flex-wrap: wrap;

        .calendar-date {
          width: calc(100% / 7);
          padding: 10px;

          .date-item {
            background-color: transparent;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            color: inherit;
          }
        }
      }
    }
  }
}
