<div mat-dialog-content>
  <mat-form-field>
    <label>nom du projet</label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <label>nom du client</label>
    <input matInput [(ngModel)]="data.clientName">
  </mat-form-field>
  <mat-form-field>
    <label>Date de rendu</label>
    <input matInput type="date" [(ngModel)]="data.dueDate">
  </mat-form-field>
  <mat-form-field>
    <label>Tags</label>
    <mat-select multiple>
      <mat-option >php</mat-option>
      <mat-option >java</mat-option>
      <mat-option >python</mat-option>
      <mat-option >debutant</mat-option>
      <mat-option >intermediaire</mat-option>
      <mat-option >experimenté</mat-option>
    </mat-select>
  </mat-form-field>
    <label>Cahier des Charges</label>
    <input type="file" [(ngModel)]="data.Docs">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">annuler</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>valider</button>
</div>
