<div class="container">
  <div class="row d-flex row-title">
    <h1>Projets</h1>
  </div>
  <div class="row">
    <a (click)="openDialog(null, null)" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Ajouter</a>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let projet"> {{projet.client}}/{{projet.name}} </td>
    </ng-container>
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef> Date due</th>
      <td mat-cell *matCellDef="let projet"> {{projet.dueDate}} </td>
    </ng-container>
    <ng-container matColumnDef="dev">
      <th mat-header-cell *matHeaderCellDef> prestataire</th>
      <td mat-cell *matCellDef="let projet">
        <p *ngIf="projet.dev !== null">{{projet.dev}}</p>
        <i class="material-icons center" *ngIf="projet.dev === null">autorenew</i>
      </td>
    </ng-container>
    <ng-container matColumnDef="docs">
      <th mat-header-cell *matHeaderCellDef> Cahier des charges</th>
      <td mat-cell *matCellDef="let projet"><a> Telecharger<i
        class="material-icons left">cloud_download</i></a></td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let projet">
        <p *ngIf="projet.deliveratedDate === null">
          <i class="material-icons left">event_busy</i>Non-livré
        </p>
        <p *ngIf="projet.deliveratedDate !== null">
          <i class="material-icons left">event_available</i>Livré
        </p>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index" (dblclick)="openDialog({name: row.name, clientName: row.client, dueDate: row.dueDate, dev: row.dev},i)"></tr>
  </table>
</div>
