
.box {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 80%;
    height: 70%;
  }
}

app-btn-messagerie {
  float: right;
  position: fixed;
  margin-right: 3rem;
  right: 0;
  top: 15px;
}

app-chat-bot {
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3rem;
  margin-bottom: 0;
  margin-right: 0;
}

app-messagerie{
  position: fixed;
  width: 80%;
  height: 600px;
  margin: 5% auto;
  left: 0;
  right: 0;
  border: 5px solid #ccc;
  background-color: #fff;
  z-index: 5;
}
@media only screen and (min-width: 600px) {
  #main-dashboard{
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 1200px) {
  app-chat-bot {
    display: none;
  }
}