<app-main-menu></app-main-menu>
<div class="row">
  <main id="main-dashboard">
    <div class="col s7">


      <app-greetings-bubble></app-greetings-bubble>

      <app-messagerie *ngIf="isOpen"></app-messagerie>

      <router-outlet></router-outlet>
      <app-badge-adw></app-badge-adw>
    </div>
  </main>

  <div class="col s3">
      <app-btn-messagerie></app-btn-messagerie>
      <app-chat-bot></app-chat-bot>
  </div>
</div>