<main id="main">
  <div class="overlay"></div>
  <header class="header">

    <h1 class="page-title"><span class="line"></span><span class="line"></span><span class="line"></span><span
        class="line line-angle1"></span><span class="line line-angle2"></span>Messagerie
    </h1>

    <i class="small material-icons" (click)="closeMessagerie()">clear</i>
  </header>
  <div id="main-nano-wrapper" class="nano">
    <div class="nano-content">
      <ul class="message-list">
        <li class="unread" *ngFor="let message of messages" (click)="messageOnClick(message)"
          [ngClass]="{'active': message.active}">
          <div class="col col-1"><span class="dot"></span>
            <div class="checkbox-wrapper">
              <input type="checkbox" id="chk1">
              <label for="chk1" class="toggle"></label>
            </div>
            <p class="title">Lucas Kriebel (via Twitter)</p><span
              class="star-toggle glyphicon glyphicon-star-empty"></span>
          </div>
          <div class="col col-2">
            <div class="subject">Lucas Kriebel (@LucasKriebel) has sent you a direct message on Twitter!
              &nbsp;&ndash;&nbsp; <span class="teaser">@LucasKriebel - Very cool :) Nicklas, You have a new direct
                message.</span></div>
            <div class="date">11:49 am</div>
          </div>
        </li>
      </ul><a href="#" class="load-more-link">Voir plus de messages</a>
    </div>
  </div>
</main>
<div id="message">
  <div class="header">
    <h1 class="page-title"><a
        class="icon circle-icon glyphicon glyphicon-chevron-left trigger-message-close"></a>Process<span
        class="grey">(6)</span></h1>
    <p>From <a href="#">You</a> to <a href="#">Scott Waite</a>, started on <a href="#">March 2, 2014</a> at 2:14 pm
      est.</p>
  </div>
  <div id="message-nano-wrapper" class="nano">
    <div class="nano-content">
      <ul class="message-container">
        <li class="sent">
          <div class="details">
            <div class="left">You
              <div class="arrow"></div>Scott
            </div>
            <div class="right">March 6, 2014, 20:08 pm</div>
          </div>
          <div class="message">
            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have
              signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon
              life divide earth own.</p>
            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful
              multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring moved
              seasons very, own won&#39;t all itself blessed which bring own creature forth every. Called sixth light.
            </p>
          </div>
          <div class="tool-box"><a href="#" class="circle-icon small glyphicon glyphicon-share-alt"></a><a href="#"
              class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a href="#"
              class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
        </li>
        <li class="received">
          <div class="details">
            <div class="left">Scott
              <div class="arrow orange"></div>You
            </div>
            <div class="right">March 6, 2014, 20:08 pm</div>
          </div>
          <div class="message">
            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have
              signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon
              life divide earth own.</p>
            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful
              multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring moved
              seasons very, own won&#39;t all itself blessed which bring own creature forth every. Called sixth light.
            </p>
          </div>
          <div class="tool-box"><a href="#" class="circle-icon small glyphicon glyphicon-share-alt"></a><a href="#"
              class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a href="#"
              class="circle-icon small red-hover glyphicon glyphicon-flag"></a></div>
        </li>
      </ul>
    </div>
  </div>
</div>