<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    email<input type="email" formControlName="email">
    password<input type="password" formControlName="password">
    <button type="submit" [disabled]="!loginForm.valid">submit</button>
</form>
