  <div class="row d-flex row-title">
    <h1>Projets</h1>
  </div>
  <div class="row d-flex top-listing">
    <ul class="nav-tabs">
      <li>
        <a class="nav-link active">Mes projets <span class="badge">3</span></a>
      </li>
      <li>
        <a class="nav-link">Tous les projets<span class="badge">8</span></a>
      </li>
    </ul>
  </div>

  <ul class="projects-list">
    <li class="d-flex project-row" *ngFor="let projet of projets">
      <div class="project-details d-flex">
        <div class="flex-wrapper">
          <div class="project-title d-flex">
            <h2>{{ projet.name }}</h2>
            <div class="metadata-info d-flex">
              <span class="project-tags d-block">Angular 8</span>
              <span class="project-tags d-block">nodeJS</span>
            </div>
          </div>
        </div>
        <div class="project-dueDate d-flex">
          <span>à livrer pour le {{ projet.dueDate }}</span>
        </div>
        <div class="project-documents">
          <span>Document</span>
        </div>
        <!-- <div class="hexagon1"></div>
        <div class="hexagon2"></div>
        <div class="hexagon3"></div> -->
      </div>
    </li>
  </ul>

