@import "~src/assets/scss/variables";
.container-chat {
  background: #f3f7ff;
  height: 600px;
  width: 450px;
  border-radius: 30px;

  .avatar {
    width: 750px;
    position: absolute;
    top: -62px;
    right: -90px;
  }

  .bulle {
    position: absolute;
    background: $jaune148;
    max-width: 85%;
    border-radius: 30px;
    padding: 0.25rem 2.25rem;
    color: #fff;
    bottom: 285px;
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 1.25rem;
  }

  input[type="text"] {
    position: absolute;
    border: none;
    border-color: transparent;
    background: #e5e8f8;
    border-radius: 10px;
    height: 2.5rem;
    width: 75%;
    bottom: 45px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
