<div class="container-chat">
    <div class="bulle">
        <p>Hey, c'est Axelle. Nous nous somme vus à ton entretien. N'hésites pas si tu as des questions sur ta première mission !</p>
    </div>
    <img class="avatar" src="assets/icons/16.png" alt="">
    <input type="text">
</div>