.container {
  margin: 3rem;
}

.row-title {
  border-bottom: 1px solid #e5e5e5;
}

.top-listing {
  border-bottom: 1px solid #e5e5e5;
  display: flex;

  .nav-tabs {
    // overflow-x: auto;
    // overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 0;
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    height: auto;

    .nav-link {
      padding: 8px;
      padding-bottom: 4px;
      font-size: 14px;
      line-height: 28px;
      color: #707070;
      border: 0;
      border-bottom: 2px solid transparent;
      white-space: nowrap;
      cursor: pointer;
      &.active {
        color: #000;
        font-weight: 600;
        border-bottom: 2px solid #6666c4;
      }
      &:hover {
        color: #000;
        border-bottom: 2px solid #c4c4c4;
      }

      .badge {
        margin: 0;
        line-height: 0;
        float: none;
        text-align: initial;
        color: #000;
      }
    }
  }
}

.projects-list {
  margin: 5px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
  }

  .metadata-info {
    margin-bottom: 0;
    margin-left: 0.5rem;

    .project-tags {
      margin: 0;
      color: #707070;
      font-size: 12px;
      line-height: 20px;
      margin-left: 10px;
      padding: 0 7px;
      border: 1px solid darken(#ffffff, 80);
      border-radius: 100px;
      font-weight: 400;
    }
  }

  .project-row {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    margin: 0;

    .project-details {
      min-width: 0;
      line-height: 16px;
      flex: 1 1 auto !important;
      align-items: center !important;
      margin-top: 1.25rem;

      .flex-wrapper {
        min-width: 0;
        margin-top: -8px;
        flex: 1 1 100%;
      }

      .project-title {
        line-height: 20px;
        align-items: center !important;
        flex-wrap: wrap !important;
      }

      .project-dueDate {
        line-height: 20px;
        align-items: center !important;
        flex-wrap: wrap !important;
        flex: 1 1 40%;
      }
    }
  }
}

.hexagon1 {
  float: left;
  border-right: 30px solid #6c6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.hexagon2 {
  float: left;
  width: 104px;
  height: 104px;
  background-color: #6c6;
}

.hexagon3 {
  float: left;
  border-left: 30px solid #6c6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
