<div class="container">
    <div class="row d-flex row-title">
      <h1>Mes projets en cours</h1>
    </div>
    <ul class="projects-list">
      <li class="d-flex project-row" *ngFor="let projet of projets">
        <div class="project-details d-flex">
          <div class="flex-wrapper">
            <div class="project-title d-flex">
              <h2>{{ projet.name }}</h2>
              <div class="metadata-info d-flex">
                <span class="project-tags d-block">Angular 8</span>
                <span class="project-tags d-block">nodeJS</span>
              </div>
            </div>
          </div>
          <div class="project-dueDate d-flex">
            <span>à livrer pour le {{ projet.dueDate }}</span>
          </div>
          <div class="project-documents">
            <span>Document</span>
          </div>
          <!-- <div class="hexagon1"></div>
          <div class="hexagon2"></div>
          <div class="hexagon3"></div> -->
        </div>
      </li>
    </ul>
  </div>