@import '~src/assets/scss/variables';

.bubble {
    background: $jaune148;
    max-width: 60%;
    // height: 5rem;
    display: inline-flex;
    margin: 3.5rem 0;
    border-radius: 30px;
    padding: 0.25rem 2.25rem;
    color: #fff;
    justify-content: center;
    line-height: 1.25rem;

    h1 {
        line-height: 3.5rem;
        font-size: 2vw;
    }
}